pyrogram==2.0.106
motor==3.1.1
TgCrypto==1.2.2
python-dotenv>=0.21.0
uvicorn==0.20.0
fastapi==0.95.2  # Last version compatible with Pydantic v1
aiohttp==3.8.6
pydantic==1.10.7
pydantic-settings==0.4.2  # Last v1-compatible version
